.admin {
  .background-box {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.32) 3.23%, rgba(255, 255, 255, 0.2) 103.23%);
  }
  .scroll-box {
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
  }
  /* Scrollbar - Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #A9A9A9;
  }
  ::-webkit-scrollbar-track {
    background-color: #FFFFFF;
  }

  .student-card {
    .student-image {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.32) 3.23%, rgba(255, 255, 255, 0.2) 103.23%);
      .student-icon {
      }
    }
    .student-info {
      p {
        color: #FFFFFF;
      }
      .progress-bar {
        background-color: #A9A9A9;
        .bar {
          background-color: #6AD187;
        }
      }
      .bottom-group {
        button {
          background: linear-gradient(180deg, rgba(255, 255, 255, 0.32) 3.23%, rgba(255, 255, 255, 0.2) 103.23%);
          color: #FFFFFF;
        }
        p {
          color: #FFFFFF;
        }
      }
    }
  }

  .profile-image {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.32) 3.23%, rgba(255, 255, 255, 0.2) 103.23%);
    .student-icon {
    }
  }
  .single-box {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.32) 3.23%, rgba(255, 255, 255, 0.2) 103.23%);
    .block-section {
      .block:first-child {
      }
      .block:nth-child(6n - 5) {
      }
      .block {
        background: #6AD187;
        h3 {
          color: #FFFFFF;
        }
      }
    }
  }
}