.scroll-box {
  width: 750px;
  height: 800px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.32) 3.23%, rgba(255, 255, 255, 0.2) 103.23%);
  backdrop-filter: blur(8px);
  border-radius: 45px;
}