@charset "utf-8";
@import "./fonts.scss";
@import "./styles.scss";
@import "./modal.scss";
@import "./admin.scss";
.dark-theme {
  &.quiz-page {
    background: linear-gradient(298.84deg, #1F1F1F 34.14%, #454545 98.72%);
  }
  &.start-page {
    background: linear-gradient(298.84deg, #1F1F1F 34.14%, #454545 98.72%);
  }
  .logo {
    background-image: url("../images/twofold-AA-neg-rgb\ 1.png");
  }
  
  @import "./darkstyles.scss";
  @import "./admindarkstyles.scss";
}
.light-theme {
  &.quiz-page {
    background: linear-gradient(298.84deg, #FFFFFF 34.14%, #DEDEDE 98.72%);
  }
  &.start-page {
    background: linear-gradient(298.84deg, #FFFFFF 34.14%, #DEDEDE 98.72%);
  }
  .logo {
    background-image: url("../images/twofold-AA-pos-rgb\ 1.png");
  }

  background: linear-gradient(298.84deg, #FFFFFF 34.14%, #DEDEDE 98.72%);
  @import "./lightstyles.scss";
  @import "./adminlightstyles.scss";
}
