@charset "utf-8";

.main {
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  // overflow: hidden;
}

.navbar {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: end;
  padding: 2.5% 5%;
}

.burger {
  button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    height: 54px;
    svg {
      height: 100%;
      width: 100%;
    }
  }
}

.timer {
  width: 200px;
  text-align: center;
  h3 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
  }
}

.breadcrumbs {
  flex-grow: 1;
  .top {
    display: flex;
    width: 300px;
    .numbers {
      flex-grow: 1;
      h3 {
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 54px;
      }
    }
    .buttons {
      button {
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
        height: 54px;
        svg {
          height: 75%;
          width: 75%;
        }
      }
    }
  }
  .bottom {
    padding-top: 30px;
    .progress-container {
      height: 5px;
      width: 300px;
      border-radius: 5px;
      background: #A9A9A9;
      .progress {
        height: 100%;
        width: 0;
        border-radius: 5px;
        background: #000000;
        transition: width 0.4s ease;
      }
    }
  }
}

// Register

.register-section {
  padding-top: 200px;
  .form {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

// Quiz
.quiz-section {
  padding-top: 200px;
  .content {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .question-box {
      position: relative;
      height: 100%;
      width: 750px;
      // background-color: aquamarine;
      .solution-box {
        position: absolute;
        height: 126px;
        width: 126px;
        bottom: 56px;
        right: 66px;
        // border: 5px solid black;
        .image-box {
          height: 100%;
          width: 100%;
          img {
            height: 100%;
          }
          .overlay {
            position: absolute;
            bottom: 0;
            background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, 0.5); /* Black see-through */
            color: #f1f1f1;
            width: 100%;
            height: 100%;
            transition: .5s ease;
            opacity:1;
            color: white;
            border-radius: 30px;
          }
          .overlay.true {
            background: rgb(0, 0, 0);
            background: rgba(106, 209, 135, 0.5); /* Black see-through */
          }
          .overlay.false {
            background: rgb(0, 0, 0);
            background: rgba(209, 113, 106, 0.5); /* Black see-through */
          }
        }
      }
    }
    .answer-box {
      height: 100%;
      width: 320px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      .image-box {
        position: relative;
        height: 128px;
        width: 125px;
        img {
          height: 100%;
        }
        .overlay {
          position: absolute;
          bottom: 0;
          background: rgb(0, 0, 0);
          background: rgba(0, 0, 0, 0.5); /* Black see-through */
          color: #f1f1f1;
          width: 100%;
          height: 100%;
          transition: .5s ease;
          opacity:1;
          color: white;
          border-radius: 30px;
        }
        .overlay.true {
          background: rgb(0, 0, 0);
          background: rgba(106, 209, 135, 0.5); /* Black see-through */
        }
        .overlay.false {
          background: rgb(0, 0, 0);
          background: rgba(209, 113, 106, 0.5); /* Black see-through */
        }
      }
    }
  }
  .go-on-button {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    button {
      font-family: 'Oswald';
      font-style: normal;
      font-weight: normal;
      font-size: 50px;
      line-height: 40px;
      width: 360px;
      height: 60px;
      left: 923px;
      top: 850px;

      backdrop-filter: blur(4px);
      /* Note: backdrop-filter has minimal browser support */

      border-radius: 15px;
    }
  }
}

// Finish
.text-section,.finish {
  padding-top: 260px;
  .content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    h1 {
      font-family: 'Oswald';
      font-weight: 500;
      font-size: 250px;
      font-style: normal;
      line-height: 370px;
      margin: 0;
    }
    p {
      font-family: 'Roboto';
      font-weight: 400;
      font-style: normal;
      font-size: 24px;
      line-height: 28px;
      margin: 0;
    }
  }
  .button-section {
    float: right;
    padding-right: 5%;
    button {
      width: 200px;
      height: 50px;
      border-radius: 10px;
      font-family: 'Oswald';
      font-weight: 400;
      font-size: 32px;
      font-style: normal;
      line-height: 45px;
      margin: 0;
      cursor: pointer;
    }
  }
}

// Start
.text-section,.start {
  padding-top: 0px;
  .content {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-left: 5%;
    h1 {
      font-family: 'Oswald';
      font-weight: 500;
      font-size: 250px;
      font-style: normal;
      line-height: 370px;
      margin: 0;
    }
    h4 {
      font-family: Oswald;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 53px;
    }
    p {
      font-family: 'Roboto';
      font-weight: 400;
      font-style: normal;
      font-size: 24px;
      line-height: 28px;
      margin: 0;
      &:last-child {
        padding-top: 30px;
      }
    }
  }
  .button-section {
    float: right;
    padding-right: 5%;
    button {
      width: 200px;
      height: 50px;
      border-radius: 10px;
      padding: 0px;
      font-family: 'Oswald';
      font-weight: 400;
      font-size: 32px;
      font-style: normal;
      cursor: pointer;
    }
  }
}